body {
  background-color: black;
  color: white;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
body::before {
  content: "";
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
main {
  position: absolute;
  width: 90%;
  padding: 5% 5%;
}
h1 {
  color: orange;
  margin-top: 0;
}
@media all and (min-width: 960px) {
  main {
    width: 60%;
    padding: 5% 20%;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  ::-webkit-scrollbar {
    width: 12px;
    background-color: #292929;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}
#main-page::before {
  background-image: url("../img/main-background.jpg");
  opacity: 0.7;
}
#main-page h1 {
  color: orange;
  margin-top: 0;
}
#main-page .left {
  left: -150%;
}
#main-page .right {
  left: 150%;
}
#main-page .section-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#main-page .section-list li {
  display: flex;
  position: relative;
  overflow: auto;
}
#main-page .section {
  left: -150%;
  flex-direction: column;
}
#main-page .section button {
  margin: 5% auto 0;
  height: 75px;
  font-size: 1em;
  font-weight: bold;
  width: 40%;
  color: white;
  cursor: pointer;
  border-style: none;
  border-radius: 20px;
  outline: none;
  background: rgba(0, 0, 0, 0.6);
  transition-duration: 0.4s;
}
#main-page .content-container {
  display: flex;
}
#main-page .content-container img {
  border-radius: 10px;
}
#main-page .content-container .header-bar {
  font-size: 1.25em;
}
#main-page .section-list li:nth-child(4n - 1) .content-container {
  text-align: right;
}
#main-page .gradient-spacer {
  left: -150%;
  width: 90%;
  margin: 10% auto;
  display: none;
}
#main-page .gradient-spacer div {
  flex: 1;
  border-radius: 20px;
  background: linear-gradient(124deg, #f85131, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  height: 7px;
  animation: rainbow 20s ease infinite;
}
#main-page .animate {
  animation: slide 1s forwards, fadein ease 2s;
}
#main-page #contact-details {
  list-style-type: none;
  padding: 0;
  margin: 3% auto 0;
  float: right;
  font-weight: bold;
}
#main-page #contact-details li {
  margin: 15px 0 15px 0 ;
}
#main-page #contact-details p {
  text-align: center;
  margin: 0 auto;
  font-size: 1.05em;
}
@keyframes rainbow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@media all and (max-width: 960px) {
  #main-page .section button {
    width: 90%;
  }
  #main-page .content-container {
    flex-direction: column;
    justify-content: center;
  }
  #main-page .content-container div {
    order: -1;
  }
  #main-page .content-container img {
    justify-content: center;
    margin: 5% auto;
  }
}
@media all and (min-width: 960px) {
  #main-page main {
    padding: 5% 20%;
  }
  #main-page .gradient-spacer {
    left: 150%;
    margin: 7% auto;
  }
  #main-page .gradient-spacer div {
    flex: 1;
  }
  #main-page .section button:hover {
    color: #1ddde8;
    transition-duration: 0.4s;
    background: rgba(0, 0, 0, 0.8);
    font-size: 1.05em;
  }
  #main-page .section-list li:nth-child(4n - 1) .content-container img {
    margin-right: 5%;
  }
  #main-page .section-list li:nth-child(4n - 3) .content-container img {
    margin-left: 5%;
  }
  #main-page #contact-details p {
    font-size: 1.5em;
  }
}
#projects-page::before {
  background-image: url("../img/projects-background.jpg");
}
#projects-page a {
  color: white;
  text-decoration: none;
  text-align: center;
}
#projects-page .column div {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  width: 85%;
  margin: 0 auto 10%;
  padding: 1%;
}
#projects-page img {
  margin-top: 5%;
  width: 50%;
}
@media all and (min-width: 960px) {
  #projects-page main {
    display: flex;
    flex-direction: row;
  }
  #projects-page #left-column,
  #projects-page #right-column {
    flex: 1;
  }
}
